workflows/7eXvgCQqqrwonu6N.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload to Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Mistral": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-26T01:03:23.158Z",
  "id": "7eXvgCQqqrwonu6N",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mistral OCR Reader",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Invoice Upload",
        "formDescription": "Please upload the file here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Invoice",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "46515dbc-0811-46b4-ba62-4a7d3695f302",
      "name": "On form submission",
      "webhookId": "b10ce64c-c5c2-460c-a465-240d938e3750"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Invoice"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ocr_output.json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "0f2646a2-5755-4355-87c9-20442406fa39",
      "name": "Upload to Mistral",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d158MAAKoeFGpNPS",
          "name": "Mistral OCR"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $('On form submission').item.json.Invoice.filename }}/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "64deb0a1-ea30-4aa1-bc83-786752e58161",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d158MAAKoeFGpNPS",
          "name": "Mistral OCR"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-28T05:03:34.960Z",
  "versionId": "35efbe45-4bd1-42af-966e-5ae80aee2f62"
}