workflows/Rj59mmz2jDLKlTZU.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload to OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to OCR": {
      "main": [
        [
          {
            "node": "Get Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed URL": {
      "main": [
        [
          {
            "node": "OCR with PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR with PDF": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-04-27T16:33:46.485Z",
  "id": "Rj59mmz2jDLKlTZU",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mistral OCR",
  "nodes": [
    {
      "parameters": {
        "formTitle": "File",
        "formDescription": "Upload Your File",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload File",
              "fieldType": "file",
              "acceptFileTypes": ".jpg, .png, .pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "0fb18361-d875-469f-b1d2-267bb685dc78",
      "name": "On form submission",
      "webhookId": "0e2d12a6-abd3-4685-bb5e-a41ae1968709"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Upload_File"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "512718bd-3f41-47e1-94cb-61e5681c08c0",
      "name": "Upload to OCR",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d158MAAKoeFGpNPS",
          "name": "Mistral OCR"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "076cdfd8-e4e5-4464-b011-57676510536c",
      "name": "Get Signed URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d158MAAKoeFGpNPS",
          "name": "Mistral OCR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ocr_output.json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "0950cdc1-f5e5-4c36-8616-2aca99b243c8",
      "name": "OCR with PDF",
      "credentials": {
        "httpHeaderAuth": {
          "id": "d158MAAKoeFGpNPS",
          "name": "Mistral OCR"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-28T13:20:46.787Z",
  "versionId": "5a848cf5-ea17-452f-91ef-8de41d52d68b"
}